<div class="row">
    <div class="col-md-2">
        <h2>List Clubs</h2>    
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <a href="#/club/edit" class="btn btn-info" role="button">Create New Club</a>
    </div>
</div>
<div class="row">
    <div class="col-md-8"> 
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Club id</th>
            <th>Established</th>
        </tr>
        </thead>
    
        <tr ng-repeat="club in clubs">
            <td><a href="#club/{{club.id}}">{{club.name}}</a></td>
            <td>{{club.id}}</td>
            <td>{{club.established |date: 'mediumDate'}}</td>
        </tr> 
    </table>
    </div>
</div>