<!-- Modal -->
<div close-modal class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Really delete user?</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button ng-click="deleteClub(user.id)" type="button" class="btn btn-primary" >Delete</button>
      </div>
    </div>
  </div>
</div>


<div class="row">
    <div class="col-md-4">
    <h1 ng-show="club.id && !edit">Club details:</h1>
    
    <h1 ng-show="!club.id && edit">Create New Club:</h1>
    
    <h1 ng-show="club.id && edit">Edit Club</h1> 
	<form novalidate name="clubForm">
		<input ng-show="club.id" type="hidden" ng-model="club.id"/>
		<div class="form-group has-feedback" >
          
          <label>Clubs id: <span ng-show="clubForm.club_rotary_id.$error.required && edit">Clubs id required.</span></label>
          <input name ="club_rotary_id" ng-disabled ="!edit" class="form-control" type="text" ng-model="club.club_rotary_id" required>
          <span ng-show="userForm.club_rotary_id.$error.required && edit" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
        </div>
		<div class="form-group has-feedback" >
		  
		  <label>Name: <span ng-show="clubForm.name.$error.required && edit">Name is required.</span></label>
          <input name ="name" ng-disabled ="!edit" class="form-control" type="text" ng-model="club.name" required>
		  <span ng-show="clubForm.name.$error.required && edit" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
		</div>
		<div class="form-group has-feedback">    
		  <label>Established: <span ng-show="clubForm.established.$error.required && edit">The date of establishment is required.</span></label>
		  
		  <input name="established" ng-disabled ="!edit" class="form-control" type="date" ng-model="club.established" required>
		  <span ng-show="clubForm.established.$error.required && edit" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
        </div>
        <div class="form-group">    
            <button ng-show="club.id && edit" class="btn btn-default" ng-click="openDeleteModal()">Delete Club (not implemented yet)</button>
            <a ng-show="club.id && !edit" href="#/club/{{club.id}}/edit" class="btn btn-info" role="button">Edit Club</a>
            <button ng-disabled="clubForm.$invalid" ng-show="edit" class="btn btn-success" ng-click="saveClub()">Save</button>              
        </div>
	</form>
	
    </div>
    <div ng-show="!edit && club.id" class="col-md-4">
    <h1>Current members:</h1>
    <div ng-repeat="member in memberships" class="row top-10">
        <div class="col-xs-4 col-md-4">
        <a href="#/user/{{member.users_id}}">
              <img ng-src="{{member.image_url}}" class="img-responsive"></a>
        </div>
        <div class="col-xs-8 col-md-8">
        <p> {{member.firstname}} {{member.surname}}</p>
        <p> Member from: {{member.start |date: 'mediumDate'}}
        </div>
        
    </div>
    </div>
</div>
