<div class="row">
	<div class="col-md-4">
 		<div class="page-header">
    		<h1>Forbidden</h1>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-4">
		<p>You are not allowed to do that.</p>
	</div>
</div>