<div class="row">
    <div class="col-md-4">
        <h2>List meetings</h2>    
</div>
</div>

<div class="row">
    <div class="col-md-4">
        <a href="#/meeting/edit" class="btn btn-info" role="button">Create New Meeting</a>
    </div>
</div>

<div class="row">
    <div class="col-md-8"> 
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Club</th>
            <th>Date</th>
            <th>Topic</th>
            <th>Presenter</th>
        </tr>
        </thead>
    
        <tr ng-repeat="meeting in meetings">
            <td>{{meeting.name}}</td>
            <td>{{meeting.meeting_date |date: 'mediumDate'}}</td>
            <td><a href="#meeting/{{meeting.id}}">{{meeting.topic}}</a></td>
            <td>{{meeting.presenter}}</td>
        </tr>
    
    </table>
    
    </div>
</div>