<div class="row">
<div class="col-md-12">
<div class="page-header">
    <h1>{{meeting.meeting_date |date: 'mediumDate'}}: {{meeting.topic}}</h1>
    <h2> {{meeting.presenter}}</h2> 
</div>
</div>
</div>

<div class="row">
        <div class="col-lg-4">
        <h2>Participation</h2>
        </div>
</div>
<div ng-repeat="user in participantslist ">
    <div class ="row top-10 vcenter"> 
        <div class="col-md-2 ">
                <a href="#/users/{{user.id}}" >
                    <img ng-src="{{user.image_url}}" class="img-responsive" >
                </a>
        </div>
        <div class="col-md-1">
    
                <a ng-click="unparticipate(user['memberships.id'])" ng-show="user.participation" href="" class="btn btn-success"
                    role="button">Remove</a> 
                <a ng-click="participate(user['memberships.id'])" ng-show="!user.participation" href=""
                    class="btn btn-info" role="button">Participate</a>
    </div>
    </div>
    <div class ="row top-10 vcenter"> 
    <div class="col-md-2 ">
        <a href="#/user/{{user.id}}">{{user.firstname}} {{user.surname}}</a>                 

    </div>
    </div>
</div>

        

    