<div class="row">
		<div class="col-md-6">
	<h1 ng-show="meeting.id && !edit">Meeting details:</h1>
       <h1 ng-show="!meeting.id && edit">Create New Meeting:</h1>    
       <h1 ng-show="meeting.id && edit">Edit Meeting:</h1>    
	<form ng-disabled ="!edit" novalidate>
        <input ng-show="meeting.id" type="hidden" ng-model="meeting.id"/>
        <div class="form-group">
        <div ng-show="server_error" class="alert alert-warning" role="alert">
           <strong>Warning!</strong> Something went wrong saving the item
        </div>
        </div>
          <div class="form-group">
            <label for="inputText3">Club</label>
             <select ng-model="meeting.clubs_id" class="form-control" ng-Disabled="!edit">
                <option ng-repeat="selectclub in clubs" value="{{selectclub.id}}">{{selectclub.name}}</option>
            </select>   
          </div>
        
        
        <div class="form-group">
          <label for="topic">Topic:</label>
          <input class="form-control" id="topic" type="text" ng-model="meeting.topic" ng-Disabled="!edit">
        </div>
        <div class="form-group">    
          <label>Presenter:</label>
          <input class="form-control" type="text" ng-model="meeting.presenter" ng-Disabled="!edit">
        </div>
        <div class="form-group">    
          <label>Date:</label>
          <input class="form-control" type="date" ng-model="meeting.meeting_date" ng-Disabled="!edit">
        </div>
        
        <div class="form-group">    
            <button ng-show="meeting.id && edit" class="btn btn-default" ng-click="openDeleteModal()">Delete Meeting (not implemented yet)</button>
            <a ng-show="meeting.id && !edit" href="#/meeting/{{meeting.id}}/edit" class="btn btn-info" role="button">Edit Meeting</a>
            <a ng-show="meeting.id && edit" href="#/meeting/{{meeting.id}}" class="btn btn-info" role="button">Cancel</a>
            <a ng-show="!meeting.id && edit" href="#/meeting/" class="btn btn-info" role="button">Cancel</a>
            <button ng-disabled="clubForm.$invalid" ng-show="edit" class="btn btn-success" ng-click="saveMeeting()">Save</button>              
        </div>
        
        
    </form>

</div>

<div ng-show="meeting.id && !edit" class="col-md-6">
      <h1>Participation details:</h1>
  <p>Participated: {{stats.participating_count}} - not participated: {{stats.not_participating_count}} - total: {{stats.total}}</p>
    <div class="progress">
      <div class="progress-bar progress-bar-success" style="width: {{participated_percentage()}}%">
        <span class="sr-only">{{participated_percentage()}} %</span>{{participated_percentage()}} %
     </div>
  <div class="progress-bar progress-bar-danger" style="width: {{not_participated_percentage()}}%">
    <span class="sr-only">{{not_participated_percentage()}} % </span>{{not_participated_percentage()}} %
  </div>
  </div>	
  <button ng-click="editParticipations()" type="button" class="btn btn-primary">Edit participations</button>
</div>
</div>

