<div class="row">
	<div class="col-md-4">
 		<div class="page-header">
    		<h1>Unauthorized</h1>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-4">
		<p>You must login to access this page.</p>
	</div>
</div>
