<!-- Modal -->
<div close-modal class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Really delete user?</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button ng-click="deleteUser(user.id)" type="button" class="btn btn-primary" >Delete</button>
      </div>
    </div>
  </div>
</div>

<div class="row">
<div class="col-md-4">

 <div class="page-header">
    
    <h1 ng-show="user.id && !edit">User details:</h1>
    
    <h1 ng-show="!user.id && edit">Create New User:</h1>
    
    <h1 ng-show="user.id && edit">Edit User:</h1>    

</div>
</div>

</div>
<div class="row">
<div class="col-md-2">

<img ng-src="{{user.image_url}}" class="img-responsive">
<div class="form-group">
<label>Current club: </label>
<p>{{user.clubs[0].name}}</p>
</div>        
</div>

<div class="col-md-4">

	<form novalidate name="userForm">
		<input ng-show="user.id" type="hidden" ng-model="user.id"/>
		<div class="form-group has-feedback" >
		  
		  <label>First Name: <span ng-show="userForm.firstname.$error.required && edit">First name is required.</span></label>
          <input name ="firstname" ng-disabled ="!edit" class="form-control" type="text" ng-model="user.firstname" required>
		  <span ng-show="userForm.firstname.$error.required && edit" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
		</div>
		<div class="form-group has-feedback">    
		  <label>Last Name: <span ng-show="userForm.surname.$error.required && edit">Username is required.</span></label>
		  
		  <input name="surname" ng-disabled ="!edit" class="form-control" type="text" ng-model="user.surname" required>
		  <span ng-show="userForm.surname.$error.required && edit" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
        </div>
        <div class="form-group">    
                
        </div>
	</form>
	<hr>
	

<button ng-show="user.id && edit" class="btn btn-default" ng-click="openDeleteModal()">Delete user</button>
<a ng-show="user.id && !edit" href="#/user/edit/{{user.id}}" class="btn btn-info" role="button">Edit user</a>
<button ng-show="edit" class="btn btn-success" ng-click="saveUser()">Save</button>
<button ng-show="user.id && edit" class="btn" ng-file-select ng-file-change="upload($files)">Upload image</button>
</div>

</div>
<!-- Club history table -->
<div ng-show="user.id" class="row">
    <div class="col-md-6"> 
    <h3>Club history</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Club</th>
            <th>From</th>
            <th>To</th>
            <th></th>
        </tr>
        </thead>
        <tr ng-repeat="membership in club_history">
            <td>{{membership.name}}</td>
            <td>{{membership.start|date: 'mediumDate'}}</td>
            <td>{{membership.end |date: 'mediumDate'}}</td>
            <td ng-show="edit" ng-click="selectMembership(membership.id)">Edit <span class="glyphicon glyphicon-open"></span></td>
            <td ng-show="!edit"></td>
        </tr>
    </table>
    </div>
</div>

<!-- Membership edit form -->
<div ng-show="edit" class="row">
<div class="col-md-4">    
    <h1 ng-show="membership.id">Edit Membership</h1>
    <h1 ng-show="!membership.id">Add Membership</h1>    
</div>
</div>

<form ng-show="edit" class="form-horizontal">
  <div class="form-group">
    <label for="inputText3" class="col-sm-2 control-label">Club</label>
    <input ng-model="membership.id" type="hidden">
    
    <div class="col-sm-2">
      <select ng-model="membership.clubs_id" class="form-control">
        <option ng-repeat="selectclub in clubs" value="{{selectclub.id}}">{{selectclub.name}}</option>
      </select>   
   </div>
  </div>
  <div class="form-group">
    <label for="inputStart" class="col-sm-2 control-label">From</label>
    <div class="col-sm-2">
      <input ng-model="membership.start" type="date" class="form-control" id="inputStart" placeholder="From">
    </div>
  </div>
  <div class="form-group">
    <label for="inputEnd" class="col-sm-2 control-label">To</label>
    <div class="col-sm-2">
      <input ng-model="membership.end" type="date" class="form-control" id="inputEnd" placeholder="To">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-2">
      <button ng-click="saveMembership()" type="submit" class="btn btn-default">Save</button>
    </div>
  </div>
</form>
<hr>
    <p>user = {{user}}</p>
    <p>membership = {{membership}}</p>
    <p>club_history = {{club_history}}</p>
