<div>
    
        <div class="modal-header">
            <h3 class="modal-title">Really delete user?</h3>
        </div>
        <div class="modal-body">
        <p>You cannot undo this operation</p>  
         
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    
</div>
