<div class="row">
    <div class="col-md-2">

        <h2>List users</h2>    
</div>
</div>

  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->
      <form>
      <div class="form-group">
      <label>Search: </label>
      <input ng-model="query">
      </div>
     <div class="form-group">
     
      <label> Sort by: </label>
      
      <select ng-model="orderProp">
        <option value="surname">Alphabetical</option>
        <option value="id">Newest</option>
      </select>
       </div>
            <div class="form-group">
    <a href="#/user/edit" class="btn btn-info" role="button">Add user</a>
   
            </div>
      </form>
    
     </div>

    <div class="col-md-6">
      <!--Body content-->
    
      
         <div class="row top-5" ng-repeat="user in users | filter:query | orderBy:orderProp">
          <div class="col-md-4">
              <a href="#/user/{{user.id}}">
              <img ng-src="{{user.image_url}}" class="img-responsive"></a>


        </div>
          <div class="col-md-4">

        <a href="#/user/{{user.id}}">{{user.firstname}} {{user.surname}}</a>
        <p>Club: {{user.clubs[0].name}}</p>
</div>
        </div>
      
    
    </div>
  </div>
