<!doctype html>
<html ng-app="rotaryApp">
<head>
<title>Rotary Project</title>

<!-- Bower managed dependencies -->
<script src="lib/jquery/dist/jquery.js"></script>
<script src="lib/bootstrap/dist/js/bootstrap.js"></script> 
<link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css">
<script src="lib/angular/angular.js"></script>
<script src="lib/angular-resource/angular-resource.js"></script>
<script src="lib/angular-route/angular-route.js"></script>
<script src="lib/ng-file-upload/angular-file-upload-shim.min.js"></script> 
<script src="lib/ng-file-upload/angular-file-upload.min.js"></script> 

<!-- angular ui bootsrap cannot be installed via bower because of dependency conflict -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.1/ui-bootstrap-tpls.js"></script>

<!--  Local files -->
<link rel="stylesheet" href="css/app.css">
<script src="js/app.js"></script>
<script src="js/services.js"></script>
<script src="js/controllers.js"></script>
<script src="js/controllers/meeting-controller.js"></script>
<script src="js/controllers/club-controller.js"></script>


</head>

<body>



<header class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="#/users/" class="navbar-brand">Rotary Meeting</a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse">
      <ul class="nav navbar-nav">
        <li>
          <a href="#user/">Users</a>
        </li>
        <li>
          <a href="#club/">Clubs</a>
        </li>
        <li>
          <a href="#meeting/">Meetings</a>
        </li>
      </ul>
      
      <form class="navbar-form navbar-right" ng-controller="Login">
        <label ng-show="user.username">Hello {{user.firstname}} {{user.surname}}</label>
        <div ng-show="!user.username" id="loginPopper" class="form-group" data-trigger="manual" data-toggle="popover" data-placement="bottom" data-content="Wrong username or password">
            <input ng-model="username" type="text" placeholder="Username" class="form-control">
        </div>
        <div ng-show="!user.username" class="form-group">
            <input ng-model="password" type="password" placeholder="Password" class="form-control">
        </div>
        <button ng-show="!user.username" ng-click="login()" type="submit" class="btn btn-success">Sign in</button>
        <button ng-show="user.username" ng-click="logoff()" type="submit" class="btn btn-success">Log off</button>
        <button ng-click="testLogin()" type="submit" class="btn btn-success">Test login</button>
      </form>
    </nav>
  </div>
</header>

<div class="container" ng-view>
</div>

<footer class="footer">
      <div class="container">
         <p class="text-muted">Fork me from: <a href="https://bitbucket.org/hjhamala/rotary/">BitBucket</a></p>
      </div>
</footer>
</body>
</html>