.top-5 { margin-top:5px; }
.top-7 { margin-top:7px; }
.top-10 { margin-top:10px; }
.top-15 { margin-top:15px; }
.top-17 { margin-top:17px; }
.top-30 { margin-top:30px; }

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.vcenter {
    display: flex;
    align-items: center;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}

.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
